<div class="container">
  <h1>Shrink It!</h1>
  
  <table>
    <tr>
      <td><code>
        <form action="/" method="POST">
          <label name="user_input">Form</label>
          <input type="text" value="http://" />
          <input type="submit" value="Shrink It!" />
        </form>
      </code></td>
    </tr>
  </table>

  <p>Enter URLs. Get shrunken ones back. Save them to your profile.</p>
</div>
