<div class="container">
  <h1>Shrink It</h1>
  <%= erb :_nav, layout: false %>  
  <table>
    <tr>
      <td><code>
        <form action="/" method="POST">
          <label for="long_url">Form</label>
          <input id="long_url" name="long_url" type="text" value="http://" />
          <input type="submit" value="Shrink It!" />
        </form>
      </code></td>
    </tr>
  </table>

  <p>Enter URLs. Get shrunken ones back. Save them to your profile.</p>
</div>
