<div class="container">
  <%= erb :_nav, layout: false %>    
  <h1>All URLs</h1>
  <table>
    <tr>
      <td><code>
        <ol>
        <% @urls.each do |url| %>
        <li><a target="_blank" href="/<%=url.id%>"><%=url.long_url%></a></li>
        <%end%>
        </ol>
      </code></td>
    </tr>
  </table>
</div>
