<div class="container">
  <h1>All URLs</h1>
  <%= erb :_nav, layout: false %>    
  <table>
    <tr>
      <td><code>
        <% @urls.each do |url| %>
        <p><%=url.long_url%></p>
        <%end%>

      </code></td>
    </tr>
  </table>

  <p>The definition of insanity is doing the same thing over and over and expecting a different result.</p>
</div>
