<div class="container">
  <%= erb :_nav, layout: false %>  
  <h1>Profile</h1>

  <table>
    <tr>
      <td><code>
        <p><%= params %></p>
      </code></td>
    </tr>
  </table>

  <p>The definition of insanity is doing the same thing over and over and expecting a different result.</p>
</div>
