<div class="container">
  <h1>New URL!</h1>
  
  <table>
    <tr>
      <td><code>
        <p><%= params %></p>
      </code></td>
    </tr>
  </table>

  <p>The definition of insanity is doing the same thing over and over and expecting a different result.</p>
</div>
